/*
 Steren websites
*/

#steren-websites {
	padding: 25px 80px 25px 25px;
	float: right;
	font-size: 200%;
}

#steren-websites a {
	text-decoration: none;
}

#steren-websites .current a {
	background-color: #CECECE;
	cursor: default;
}

#steren-websites ul {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

#steren-websites ul li {
	display: inline;
	padding-left: 0.5em;
}

/*
 Portfolio
*/

.hidden {
	display: none;
}

body {
    background-color: #EEEEEE;
}

.wrapper {
	margin:0 auto;
	width:940px;
	padding-top: 2em;
}

a {
    text-decoration:none;   
}


h1 {
    color: #1E1E1E;
	margin-bottom: 1.5em;
    font-size: 2em;
    text-shadow: 0 1px 1px #FFFFFF;
}

hr {
	clear : both;
}

.brief {
	margin-bottom: 10px;
}

.clear {
	clear:both;
}

/*
 * Filters
 */
.pannelSection {
	margin-top: 2em;
	margin-bottom: 2em;
}

.pannelSection .separator {
	float:left;
	height:1em;
	margin-right: 3em;	
}

.pannelSection .buttongroup {
	margin-right: 1em;
	float:left;
}

.pannelSection h2 {
	float:left;
	margin-right: 0.5em;
}

.pannelSection label span {
	padding: 0.5em;
}

.pannelSection label input:checked + span {
	background-color: #FFFFFF;
}

.pannelSection input {
    position:absolute;
    top:-20px;
}

/*
 * Works
 */

.work {
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1.4px 2px rgba(0,0,0,0.19);
    
    transition: background-color 0.3s ease-out;
    
	margin : 10px;
	padding : 6px;
	width : 280px;
	height: 190px;
	float : left;	
}

.work:hover {
    background-color: #CECECE;
    
    transition: background-color 0.3s ease-out;  
}

.work .title {
	font-size : 1.2em;
	border-bottom:1px solid #DDDDDD;
    transition: color 0.3s ease-out;
}
.work .link {
	font-size : .8em;
}
.work p {
	margin: 0;
}
.work .video {
	display:none;
}
.work .description {
	font-size : 0.9em;
}
.work .category {
	display:none;
}
.work .date {
	display:none;
}
.work .icon {
	width: 280px;
	height: 140px;
}

.displayMore {
	text-align: right;
	clear: both;
}
a.displayMore {
	text-decoration: none;
	font-size: 0.9em;
			
}
.etc {
	padding-top: 100px;
	font-size: 3em;
}


.social-links {
    margin-left: 0;
}
.social-links li {
    margin: 2px; 
	list-style: none outside none;
	float: left;   
}


/*
 * Social Media icons by http://icondock.com/free/vector-social-media-icons
 */
.social-icon {
	direction: ltr;
    text-indent: -9999px;
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    background: url("../../img/social/twitter-2.png") no-repeat left top transparent;    
}

.social-icon.flickr { background-image: url("../../img/social/flickr.png"); }
.social-icon.github { background-image: url("../../img/social/github.png"); }
.social-icon.identica { background-image: url("../../img/social/identi.png"); }
.social-icon.lastfm { background-image: url("../../img/social/lastfm.png"); }
.social-icon.linkedin { background-image: url("../../img/social/linkedin.png"); }
.social-icon.slideshare { background-image: url("../../img/social/slideshare.png"); }
.social-icon.twitter { background-image: url("../../img/social/twitter-2.png"); }
.social-icon.vimeo { background-image: url("../../img/social/vimeo.png"); }
.social-icon.wikipedia { background-image: url("../../img/social/wikipedia.png"); }
.social-icon.youtube { background-image: url("../../img/social/youtube.png"); }
