<menu class="pannelSection">

	<h2>Filters:</h2>
	<div class="buttongroup">
	<label><input type="checkbox" ng-model="type.code" 		/><span>Code</span></label>
	<label><input type="checkbox" ng-model="type.graphic"	/><span>Graphic</span></label>
	<label><input type="checkbox" ng-model="type.event"		/><span>Event</span></label>
	</div>

	<div class="buttongroup">
	<label><input type="checkbox" ng-model="participation.lead" 			/><span>Leader</span></label>
	<label><input type="checkbox" ng-model="participation.contribution"		/><span>Contributor</span></label>
	</div>

	<div class="buttongroup">
	<label><input type="checkbox" ng-model="seriousness.serious"			/><span>Serious</span></label>
	<label><input type="checkbox" ng-model="seriousness.notsoserious" 		/><span>Not So Serious</span></label>
	<label><input type="checkbox" ng-model="seriousness.stupid"				/><span>Stupid</span></label>
	</div>

	<div class="separator"></div>

	<h2 >Sort by:</h2>
	<div class="buttongroup">
	<label><input type="radio" ng-model="orderProp" value="date"/><span>Date</span></label>
	<label><input type="radio" ng-model="orderProp" value="size"/><span>Project size</span></label>
	</div>

	<div class="clear"></div>
</menu>

<div ng-repeat="work in works | filterWorks: {'key':'type', 'values':type} | filterWorks: {'key':'participation', 'values':participation} | filterWorks: {'key':'seriousness', 'values':seriousness} | orderBy:orderProp:true">
	<a href="{{work.link.href}}" title="{{work.link.title}}" target="_blank" class="work">
		<img class="icon" ng-src="img/icons/{{work.image}}" alt="{{work.title}}"/>
		<p class="title">{{work.title}}</p>
		<p class="category">{{work.category}}</p>
		<p class="date">{{work.date}}</p>
		<p class="description">{{work.description}}</p>
	</a>
</div>