/*
style shared by all websites
*/

#steren-websites {
	padding: 15px 50px;
	float:right;
	font-size: 150%;
}

#steren-websites a {
	text-decoration: none;
}

#steren-websites .current a {
	background-color: #EEEEEE;
	cursor: default;
}

#steren-websites ul {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

#steren-websites ul li {
	display: inline;
	padding-left: 0.5em;
}
