#works {
	float: left;
	margin: 0 0 0 1em;
	max-width: 50em;
}
.work {
	border : 1px solid #DDDDDD;
	margin : 1em 0;
	padding : 0.5em;
}
.work .title {
	font-size : 1.3em;
	margin: 0 0 0.5em;
	border-bottom:1px solid #DDDDDD;
}
.work p {
	margin: 0;
}
.work .video {
	display:none;
}


#pannel {
	float: left;
	margin: 0 1em 0 0;
}


.filterGroup {
	border : 1px dotted #DDDDDD;
	margin: 0.5em;
	padding: 1em 0.5em ;
}
.filterGroup p {
	list-style-type: none;
	padding: 0;
	margin: 0em;
}
.filter {
	padding: 0.5em;
	cursor: pointer;

}
#filters .active {
	background-color: #EEEEEE;
}
