/*
 Steren websites
*/

#steren-websites {
	padding: 15px 50px;
	float:right;
	font-size: 150%;
}

#steren-websites a {
	text-decoration: none;
}

#steren-websites .current a {
	background-color: #EEEEEE;
	cursor: default;
}

#steren-websites ul {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

#steren-websites ul li {
	display: inline;
	padding-left: 0.5em;
}

/*
 Portfolio
*/
#wrapper {
	margin:0 auto;
	width:940px;
	padding: 2em;
}

h1 {
	margin-bottom: 2em;
} 

h2 {
	clear:both;
}

#pannel {
	float: left;
	width:260px;
	margin: 0 1em 0 0;
}
#worksContainer {
	float: right;
	width: 660px;
}

#filters {
	margin: 0 0 20px;
}
.group {
	border : 1px dotted #DDDDDD;
	margin: 0.5em;
	padding: 1em 0.5em ;
}
.group p {
	list-style-type: none;
	padding: 0;
	margin: 0em;
}
.button {
	padding: 0.5em;
	cursor: pointer;
}
.button.active {
	background-color: #EEEEEE;
}
.work {
	border : 1px solid #DDDDDD;
}
.work .title {
	font-size : 1.2em;
	margin: 0 0 0.5em;
	border-bottom:1px solid #DDDDDD;
}
.work .link {
	font-size : .8em;
}
.pannelSection {
	padding-bottom: 1em;
}
.displayMore {
	text-align: right;
	clear: both;
}
a.displayMore {
	text-decoration: none;
	font-size: 0.9em;
			
}
.etc {
	padding-top: 100px;
	font-size: 3em;
}

/*
 * Works displayed as icons
 */
.work {
	margin : 10px;
	padding : 6px;
	width : 120px;
	height: 120px;
	
	float : left;
}
.work.hidden {
	display: none;
}

.work p {
	margin: 0;
}
.work .video {
	display:none;
}
.work .description {
	display:none;
}


/*
 * Works displayed as Sections
 */
/*
.work {
	border : 1px solid #DDDDDD;
	margin : 1em 0;
	padding : 0.5em;
}
.work .title {
	font-size : 1.3em;
	margin: 0 0 0.5em;
	border-bottom:1px solid #DDDDDD;
}
.work p {
	margin: 0;
}
.work .video {
	display:none;
}
*/

